create database SistemaCitas

use SistemaCitas

-- tabla usuarios
create table usuarios (
    id_usuario int identity(1,1) primary key,
    fecha_nacimiento date not null,
    nombre varchar(100) not null,
	cedula varchar(13) not null unique,
    correo varchar(150) not null unique,
    telefono varchar(20) null,
	contrasena varchar(255) not null,
    rol varchar(50) not null, 
    activo bit not null default 1
);

create table servicios (
    id smallint identity(1,1) primary key,
    nombre varchar(100) not null,
	precio decimal(10,2) not null check (precio >= 0) 
);


create table horarios (
    id smallint identity(1,1) primary key,
    hora_inicio time not null,
    hora_fin time not null,
    descripcion varchar(200) null
);

create table lugar (
    id smallint identity(1,1) primary key,
    nombre varchar(100) not null
);

create table configuracion_turnos (
    id int identity(1,1) primary key,
    fecha_inicio date not null,
    fecha_fin date not null,
    horarios_id smallint not null,
    cantidad_estaciones int not null check (cantidad_estaciones > 0),
    duracion_minutos int not null check (duracion_minutos > 0),
    aun_acepta_citas bit not null default 1,
    foreign key (horarios_id) references horarios(id)
);

-- tabla cita
create table cita (
    id_cita int identity(1,1) primary key,
    id_usuario int not null,
    turno_id int not null,
    lugar_id smallint not null,
    servicio_id smallint not null,
    estado varchar(50) not null, -- enum mapeado como string
    row_version rowversion, -- control de concurrencia
    foreign key (id_usuario) references usuarios(id_usuario),
    foreign key (turno_id) references configuracion_turnos(id),
    foreign key (lugar_id) references lugar(id),
    foreign key (servicio_id) references servicios(id)
);

-- �ndices para mejorar rendimiento
create index idx_cita_turno_id on cita(turno_id);
create index idx_cita_lugar_id on cita(lugar_id);
create index idx_cita_user_id on cita(id_usuario);
create index idx_cita_estado on cita(estado);
create index idx_cita_servicio_id on cita(servicio_id);
create index idx_configuracion_turnos_fechas on configuracion_turnos(fecha_inicio, fecha_fin);

--------------------------------------------------
-- PROCEDIMIENTO PARA CREAR CITA CON CONTROL DE CONCURRENCIA
--------------------------------------------------
create procedure sp_crear_cita
    @user_id varchar(20),
    @turno_id int,
    @lugar_id int,
    @servicio_id int,
    @estado varchar(50)
as
begin
    set nocount on;
    begin transaction;

    declare @max_citas int;
    declare @row_ver rowversion;

    -- Contar cu�ntas citas hay para ese turno y lugar
    select @max_citas = count(*)
    from cita with (updlock, holdlock) -- lock para control de concurrencia
    where turno_id = @turno_id
      and lugar_id = @lugar_id;

    -- Obtener cantidad de estaciones para el turno
    declare @cantidad_estaciones int;
    select @cantidad_estaciones = cantidad_estaciones
    from configuracion_turnos
    where id = @turno_id;

    if @max_citas >= @cantidad_estaciones
    begin
        rollback transaction;
        raiserror('No hay estaciones disponibles para este turno', 16, 1);
        return;
    end

    -- Insertar la cita
    insert into cita(id_usuario, turno_id, lugar_id, servicio_id, estado)
    values(@user_id, @turno_id, @lugar_id, @servicio_id, @estado);

    commit transaction;
end;